# Public Supabase (Frontend)
NEXT_PUBLIC_SUPABASE_URL=https://SUA_URL_AQUI.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=ey...

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/db_fake
